<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coffee List</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Coffee Name</th>
        <th>Coffee Type</th>
        <th>Actions</th>
    </tr>
    <tr th:each="coffee : ${coffees}">
        <td th:text="${coffee.id}"></td>
        <td th:text="${coffee.name}"></td>
        <td th:text="${coffee.type}"></td>
        <td><a th:href="@{/edit(id=${coffee.id})}">Edit</a></td>
    </tr>
</table>

<a href="/add">Add New Coffee</a>

</body>
</html>
